.LeakList {
    display: flex;
    font-family: 'Roboto';
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    background: rgb(73, 240, 122);
    background: radial-gradient(circle, rgba(73, 240, 122, 1) 0%, rgba(251, 251, 251, 1) 100%);
    min-height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
    width: 100%;
    height: 447px;
    border-radius: 16px;
    background-color: white;
}

.container h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: -1px;
    padding-bottom: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, .1);
}

.Progress {
    position: relative;
    top: 30%;
    left: 47%;
}