.Home {
    display: flex;
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    background: rgb(73, 240, 122);
    background: radial-gradient(circle, rgba(73, 240, 122, 1) 0%, rgba(251, 251, 251, 1) 100%);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1312px;
    margin: auto;
    padding: 0;
}

.Home h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}